<% include template/cardViewHead.ejs %>



<div class="container">
	<% include template/nav.ejs %>
<div class="gallary-row1">
		<img class="gallaria" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=439658&type=card">
		<img class="gallaria" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=439659&type=card">
		<img class="gallaria" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=439661&type=card">
		<img class="gallaria" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=439660&type=card">
</div>
<div class="gallary-row2">
		<img class="gallaria" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=439662&type=card">
		<img class="gallaria" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=439663&type=card">
		<img class="gallaria" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=439664&type=card">
		<img class="gallaria" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=439665&type=card">
</div>
<div class="gallary-row3">
		<img class="gallaria" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=439666&type=card">
		<img class="gallaria" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=439667&type=card">
		<img class="gallaria" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=439668&type=card">
		<img class="gallaria" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=439669&type=card">
</div>

</div>


<% include template/tail.ejs %>