<% include template/head.ejs %>


<div class="container-banner">
<% include template/nav.ejs %>

<h1>I am the home page</h1>
	<div>
		<img class="banner" src="http://bookmans.com/wp-content/uploads/2017/04/dataset-original.jpg">
	</div>
<div class="login-register">login/register</div>
</div>



<% include template/tail.ejs %>