<% include template/head.ejs %>


<div class="container-banner">
<% include template/nav.ejs %>

<h1>I am the home page</h1>
	<img src="#">

<div class="login-register"></div>
</div>

<!-- <p><%= name %></p> -->
<!-- <ul>
	<% for(let i =0, i < 4, i++) { %>
		<li>Chandra</li>
	<% } %>

</ul> -->
<% include template/tail.ejs %>