<% include template/head.ejs %>


<div class="container">
<% include template/nav.ejs %>

	<div class="banner-container">
		<img class="banner" src="http://bookmans.com/wp-content/uploads/2017/04/dataset-original.jpg">
	</div>	
<div class="login-register">login/register</div>
</div>



<% include template/tail.ejs %>