<% include template/cardViewHead.ejs %>


<div class="container">

<% include template/nav.ejs %>
<div class="gallary-row1">
		<img class="gallaria" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=439658&type=card"><input type="radio" name="favorite1">
		<img class="gallaria" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=439659&type=card"><input type="radio" name="favorite2">
		<img class="gallaria" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=439661&type=card"><input type="radio" name="favorite3">
		<img class="gallaria" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=439660&type=card"><input type="radio" name="favorite4">
</div>
<div class="gallary-row2">
		<img class="gallaria" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=439662&type=card"><input type="radio" name="favorite5">
		<img class="gallaria" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=439663&type=card"><input type="radio" name="favorite6">
		<img class="gallaria" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=439664&type=card"><input type="radio" name="favorite7">
		<img class="gallaria" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=439665&type=card"><input type="radio" name="favorite8">
</div>
<div class="gallary-row3">
		<img class="gallaria" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=439666&type=card"><input type="radio" name="favorite9">
		<img class="gallaria" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=439667&type=card"><input type="radio" name="favorite10">
		<img class="gallaria" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=439668&type=card"><input type="radio" name="favorite11">
		<img class="gallaria" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=439669&type=card"><input type="radio" name="favorite12">
</div>

</div>



<% include template/tail.ejs %>