<% include template/loginHead.ejs %>



<div class="container">
<% include template/nav.ejs %>

<div class="formsContainer">
	<div id="signIn">
  	<h1 class="sign">Sign In</h1><br>
		<form  action="/loggedIn" method="POST">
			<input type="text" name="handle" 	placeholder="userName"> <br>
			<input type="text" name="password"  placeholder="OpenSaysMe"> <br>
		<input type="submit" value="Login">
		</form>
	</div>

	<div id="signUp">
 	 <h1 class="sign">Sign Up</h1><br>
		<form action="/login" method="POST">
			<input type="text" name="handle" placeholder="userName"> <br>
			<input type="text" name="password" placeholder="abracadabra"> <br>
			<input type="submit" value="Sign Up">
		</form>
	</div>
	<div><img class="banner" src="http://bookmans.com/wp-content/uploads/2017/04/dataset-original.jpg"></div>
</div>

</div>


<% include template/tail.ejs %>