.container{
	display: grid;
	grid-row-gap: 5px;
	grid-row: 3 / 33%;
	justify-content: center;
	width: 960px;
	margin: 0px auto;
	background-color: #221c69;
}

.gallary-row1{
	height: 250px;
	width: 920px;
	
}

.gallary-row2{
	height: 250px;
	width: 920px;
	
}

.gallary-row3{
	height: 250px;
	width: 920px;

}

.gallaria {
	height: 200px;
	width: 200px;
}

@media screen and (max-width:959px){
	.gallary-row1{
		width: 100%
	}
	.gallary-row2{
		width: 100%
	}
	.gallary-row3{
		width: 100%
	}
	.gallaria {
		width: 100%
	}
}

@media screen and (max-width:640px){
	.gallary-row1{
		width: 100%
	}
	.gallary-row2{
		width: 100%
	}
	.gallary-row3{
		width: 100%
	}
	.gallaria{
		width: 100%
	}
}

@media screen and (max-width:320px) {
	.gallary-row1{
		width: 320px
	}
	.gallary-row2{
		width: 320px
	}
	.gallary-row3{
		width: 320px
	}
	.gallaria{
		width: 320px
	}
}