.container{
	display: grid;
	grid-row-gap: 5px;
	grid-row: 3 / 33%;
	justify-content: center;
	width: 960px;
	margin: 0px auto;
	background-color: #221c69;
}

.gallary-row1{
	height: 250px;
	width: 920px;
	
}

.gallary-row2{
	height: 250px;
	width: 920px;
	
}

.gallary-row3{
	height: 250px;
	width: 920px;

}

.gallaria {
	height: 200px;
	width: 200px;
}