.nav-bar{
	width: 700px;
	color: white;
	background-color: blue;
}

@media screen and (max-width:959px) {
		.nav-bar{
		width: 70%
	}
}

@media screen and (max-width:640px) {
		.nav-bar{
		width: 100%
	}
}

@media screen and (max-width:320px) {
	.nav-bar{
		width: 320px;
	}
}