.nav-bar{
	width: 700px;
	color: white;
	margin: 0px auto;
	text-align: center;
	font-size: 25pt;
}

a{
	color: white;
	text-decoration: none;
}

@media screen and (max-width:959px) {
		.nav-bar{
		width: 70%
	}
}

@media screen and (max-width:640px) {
		.nav-bar{
		width: 100%
	}
}

@media screen and (max-width:320px) {
	.nav-bar{
		width: 320px;
	}
}