.container{
	width: 960px;
	margin: 0px auto;
	background-color: #221c69;
}


.banner-container{
	width: 960px;
	margin: 0px auto;
}

.banner{
	width: 960px;
	margin: 0px auto;
}


@media screen and (max-width:959px) {
	
	.container{
		width: 100%
	}

	.login-register{
		width: 30%
	}
	.banner-container {
		width: 100%
	}

	.banner {
		width: 100%
	}
}

@media screen and (max-width:640px) {
	
	.container{
		width: 100%;
	}	
	.login-register{
		width: 100%
	}
	.container {
		width: 100%
	}

	.banner {
		width: 100%
	}
}

@media screen and (max-width:320px) {
	.container{
		width: 320px;
	}
	
	.login-register{
		width: 320px;
	}
	
	.banner-container {
		width: 320px;
	}

	.banner {
		width: 320px;
	}
}

